@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="HeaderContrainer">
        <h1>Currency convertor</h1>
        <p>Check exchange rates, send money internationally, and free currency tools</p>
    </div>
    <div class="MainTabContainer">
        <div class="TabRow">
            <a>
                <!--<svg></svg>-->
                <span class="tab-text"> Convert</span>
            </a>
            <a>
                <!--<svg></svg>-->
                <span class="tab-text"> Charts</span>
            </a>
        </div>
        <main class="ContentContainer">
            <div>
                <form action="/" method="post">
                    <div class="GridContainer">
                        <label>Amount</label>
                        <label>From</label>
                        <label>To</label>
                    </div>
                    <div class="AmountInput"></div>
                    <div class="FromInput"></div>
                    <button></button>
                </form>
            </div>
        </main>
     </div>
    </section>
